@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100%;
}
/* Navigation */
.nav-hero{
    width: 100%;
    height: 100vh;
    background-color: rgb(26,35,47);
    color: white;
    clip-path: polygon(100% 0, 100% 75%, 0% 100%, 0 85%, 0 0);
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
    padding: 10px 0;
}

/* Logo section */
.logo-container{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    
}

.logo-container .brand-logo{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid white 2px;
}

.logo-container .brand-name{
    margin-left: 10px;
    font-weight: lighter;
    font-family: 'Great Vibes', cursive;
}

/* Menu */
.menu{
    align-items: center;
    display: flex-1;
}

.menu .menu-item{
    text-decoration: none;
    font-size: small;
    letter-spacing: 0.1ch;
    display: inline-block;
    padding: 12px;
    color: white;
}

.menu .menu-item:hover{
    border: solid rgb(183,0,22) 2px;
    padding: 3px 10px;
    border-radius: 10px;
}

/* User access */
.user-access{
    align-items: center;
    display: flex-2;
}

.user-access .login-btn{
    text-decoration: none;
    font-size: small;
    letter-spacing: 0.1ch;
    display: inline-block;
    padding: 12px;
    color: white;
}

.user-access .login-btn:hover{
    border: solid rgb(183,0,22) 2px;
    padding: 8px 10px;
    border-radius: 10px;
}

.user-access .signup-btn{
    text-decoration: none;
    font-size: small;
    letter-spacing: 0.1ch;
    margin-left: 5px;
    border: solid rgb(183,0,22) 2px;
    padding: 8px 20px;
    border-radius: 10px;
    color: white;
}

.user-access .signup-btn:hover{
    background-color: rgb(183,0,22);
    color: white;
    transition: all 0.5s ease;
}

/* Hero section */
.hero-section{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.hero-left{
    width: 50%;
    height: auto;
}

.hero-right{
    display: flex;
    width: 50%;
    height: auto;
    align-items: center;
    margin-top: 5%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

/* Video section */
.media{
    width: 100%;
    height: 98%;
}


/* Hero content section */
.hero-content{
    margin-right: 100px;
    margin-top: 15%;
}
.hero-left .hero-content .heading h1{
    letter-spacing: 0.02ch;
}

.hero-left .hero-content .heading h5{
    font-weight: lighter;
    margin-top: 20px;
    letter-spacing: 0.1ch;
}

.hero-item-btn{
    margin-top: 15%;
}

.hero-item-btn .hero-btn{
    text-decoration: none;
    font-size: small;
    color: white;
    padding: 10px 20px;
    border: solid 2px rgb(183,0,22);
    border-radius: 10px;
}

.hero-item-btn .btn-one{
    background-color: rgb(183,0,22);
}

.hero-item-btn .btn-one:hover{
    border: solid 2px rgb(183,0,22);
    background: none;
    transition: all 0.5s;
}

.hero-item-btn .btn-two{
    border: solid 2px rgb(183,0,22);
    background: none;
    transition: all 0.5s;
    margin-left: 10px;
}

.hero-item-btn .btn-two:hover{
    background-color: rgb(183,0,22);
}


/* Social icons */
.social-icons{
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.social-icons .icon-btn{
    text-decoration: none;
    color: white;
    font-size: larger;
    padding: 10px;
    margin: 0 5px;
}

.social-icons .icon-btn:hover{
    color: rgb(183,0,22);
    transition: all 0.5s ease;
}